USE [Library]
GO
/****** Object:  Table [dbo].[Sugerencias]    Script Date: 08/09/2018 01:54:48 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Sugerencias]
GO
/****** Object:  Table [dbo].[Pintura]    Script Date: 08/09/2018 01:54:48 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Pintura]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 08/09/2018 01:54:48 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Libro]
GO
/****** Object:  Table [dbo].[Cartera]    Script Date: 08/09/2018 01:54:48 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Cartera]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 08/09/2018 01:54:48 a. m. ******/
DROP TABLE IF EXISTS [dbo].[Administrador]
GO
USE [master]
GO
/****** Object:  Database [Library]    Script Date: 08/09/2018 01:54:48 a. m. ******/
DROP DATABASE IF EXISTS [Library]
GO
/****** Object:  Database [Library]    Script Date: 08/09/2018 01:54:48 a. m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Library')
BEGIN
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 08/09/2018 01:54:48 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Administrador]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Administrador](
	[iIdAdmin] [int] NULL,
	[fEstatura] [float] NULL,
	[vNombre] [varchar](30) NULL,
	[vApellido] [varchar](30) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Cartera]    Script Date: 08/09/2018 01:54:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cartera]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cartera](
	[mDinero] [money] NULL,
	[mIVA] [money] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 08/09/2018 01:54:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Libro]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Libro](
	[vTitulo] [varchar](15) NULL,
	[tISBN] [tinyint] NULL,
	[vGenero] [varchar](10) NULL,
	[vAutor] [varchar](30) NULL,
	[vEditorial] [varchar](10) NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Pintura]    Script Date: 08/09/2018 01:54:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pintura]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Pintura](
	[iId] [int] NULL,
	[iImagen] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Sugerencias]    Script Date: 08/09/2018 01:54:49 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sugerencias]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Sugerencias](
	[tNota] [text] NULL,
	[dFecha] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
INSERT [dbo].[Administrador] ([iIdAdmin], [fEstatura], [vNombre], [vApellido]) VALUES (1001, 1.75, N'Rey', N'Leon')
INSERT [dbo].[Cartera] ([mDinero], [mIVA]) VALUES (240.3300, 2355.5500)
INSERT [dbo].[Libro] ([vTitulo], [tISBN], [vGenero], [vAutor], [vEditorial]) VALUES (N'Libro Verde', 1, N'Infantil', N'Juan Carlos Bodoque', N'Editorial1')
INSERT [dbo].[Sugerencias] ([tNota], [dFecha]) VALUES (N'Gracias pr todo', CAST(N'2018-03-08T00:00:00.000' AS DateTime))
USE [master]
GO
